.bg-primary {
  background-color: #B3650C !important;
}

.bg-secondary {
  background-color: #007EB3 !important;
}

hr.star-light:after {
  color: #fff;
  background-color: #B3650C;
}

.footer {
   background-color: #5067B3 !important;

}

.copyright {
  background-color: #1D3540 !important;
}
/*h1 {
 font-size: 11.9vw;
}*/

@media only screen and (max-width: 600px) {
  h1 {
    font-weight: 400;
    font-size: 2em !important;
  }
}